@model Infraestructure.Models.Producto

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}



<h3>Quieres eliminarlo?</h3>
<div>
    <h4>Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Detalle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detalle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unidades)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unidades)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Creado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_Categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_Bodega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bodega.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm("DeleteProducto", "Producto", new { Id = Model.Id, FormMethod.Post }))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-primary" /> |
            @Html.ActionLink("Atrás", "Index", null, new { @class = "btn btn-primary" })
        </div>
    }
</div>



@section Scripts {
    @Scripts.Render("~/bundles/sweetalert")
}